<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <link rel="icon" href="../public/images/turtle.png" type="image/x-icon" />

        <h1><img src = "https://i7.uihere.com/icons/611/339/768/jeni-turtle-ecaee8dd30b4004ce206c02e66b134d9.png"width="180" height="180" /></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>